torch==2.1.0
torchvision==0.16.0+fbb4cc5
lightning
tensorboard
opencv-python
pandas
controlnet-aux 
tqdm
torchpack
onnx
onnxsim
segment_anything
monai
prodigyopt
torchmetrics[multimodal]
gradio
ultralytics
datasets
transformers
accelerate
diffusers==0.26.3
smmap
gitdb
gitpython