pillow==10.2.0
torch==2.1.0a0+41361538.nv23.6
torchvision==0.16.0
tensorrt==8.5.2.2
lightning
tensorboard
opencv-python
pandas
controlnet-aux 
tqdm
torchpack
onnx==1.14.0
onnxruntime-gpu==1.15.1
optimum
onnxsim
segment_anything
monai
prodigyopt
torchmetrics[multimodal]
gradio
ultralytics
datasets
transformers
accelerate
diffusers==0.26.3
smmap
gitdb
gitpython